{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="about" class="col-md-12">
   <div id="abou" class="col-md-3">
   <img src="{% static 'images/pexels-photo-1860204.jpeg' %}"  height="300px" width="300px"  class="img-circle"/>
   </div>
   
   <div id="aryt" class="col-md-9" style="padding:50px">
   <h2 style="text-align:center">ABOUT US:</h2><br /><p>Tasty Tiffin has started with the vision to provide best qualitative and delicious food that one can order online sitting at home or workplace to get it right at the door step.<br /><br />

Why the name Tasty Tiffen Service?<br /><br />

The name Tasty Tiffen Service has been chosen to fulfill your tummy as this is related to 'ROTI'.<br /><br />

We offer break-fast, lunch and supper in a day and made this service flexible that anyone can order food for a particular day or particular meal separately by looking at our 'Today's menu' online, apart from monthly packages.<br />

These include Bathinda, goniana, rampura as of now. We ensure the quick delivery of food at your place as soon as you place the order.<br /><br />

We keep a track on spiciness of our food items without compromising the taste so that one can prefer it on long term basis without any health issues that are commonly related to outside food.</p><br /><br />
<center><h4>Follow Us:</h4>
   <a href="https://www.facebook.com/"><img src="../static/images/background-facebook-logo-5.png" height="40px" width="40px"></a>
   <a href="https://instagram.com/accounts/login/?force_authentication=1&only_user_pwd_authentication=1&platform_app_id=&next=/oauth/authorize/%3Fclient_id%3Da6637e9a1acc4e0a82e509799c52c285%26redirect_uri%3Dhttps%3A//buffer.com/oauth/instagram%26response_type%3Dtoken%26state%3D95f72138e7b5cbd284b19fc849dd94d1%26hl%3Den"><img src="../static/images/instagram-Logo-PNG-Transparent-Background-download.png" height="30px" width="30px" style="margin-right:5px"/></a>
   <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img src="../static/images/252726_preview.png" height="25px" width="30px"style="margin-right:5px"/></a>
   <a href="https://twitter.com/login"><img src="../static/images/twitter-logo.png" height="25px" width="30px"/></center></a>
</div>
</div>
   
   
   
   
   
   
   
   
   
   
   
   
{% endblock %}