{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<body>

<div id="menu" class="col-md-12">
  <div id="menu1" class="col-md-offset-2 col-md-8">
  <h2 style="text-align:center">Weekly Menu</h2>
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Sunday">
        Sunday</a>
      </h4>
    </div>
    <div id="Sunday" class="panel-collapse collapse in">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
         <div id="frst" class="col-md-4">
            <h6><b>Pooriya Chole</h6></b></div>
         <div id="sec" class="col-md-4">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-4">
            <h6><b>Chatni</h6></b></div>
   
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <h6><div id="first" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
          <div id="second" class="col-md-3">
            <h6><b>Dal</h6></b></div>
         <div id="third" class="col-md-3">
            <h6><b>Kadhi</h6></b></div>
         <div id="four" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
            </div>
      </div>
    </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Monday">
        Monday</a>
      </h4>
    </div>
    <div id="Monday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="first" class="col-md-3">
            <h6><b>Kadhi</h6></b></div>
          <div id="second" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
         <div id="third" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="four" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
       
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Rajma</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="third" class="col-md-3">
            <h6><b>Salad</h6></b></div>   
       </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Tuesday">
        Tuesday</a>
      </h4>
    </div>
    <div id="Tuesday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Soya Been</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
      
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Kalle Chole</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Wednesday">
        Wednesday</a>
      </h4>
    </div>
    <div id="Wednesday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Kadhi</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chapati</h6></b></div>

      
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>White Chana</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Rice</h6></b></div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Thursday">
        Thursday</a>
      </h4>
    </div>
    <div id="Thursday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Bengan</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</b></h6></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chapati</b></h6></div>
      
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Bindi</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Friday">
        Friday</a>
      </h4>
    </div>
    <div id="Friday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Shahi Paneer</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chapati</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Gulabjamun</h6></b></div>
                  
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-4">
            <h6><b>Pooha</h6></b></div>
         <div id="sec" class="col-md-4">
            <h6><b>Manchooriyan</h6></b></div>
         <div id="thrd" class="col-md-4">
            <h6><b>Chapati</h6></b></div>     
         </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Saturday">
        Saturday</a>
      </h4>
    </div>
    <div id="Saturday" class="panel-collapse collapse">
      <div class="panel-body"><h5 style="text-align:center"><ins>Lunch Menu</ins></h5>
      <div id="frst" class="col-md-4">
            <h6><b>Pooriya Chole</h6></b></div>
         <div id="sec" class="col-md-4">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-4">
            <h6><b>Chatni</h6></b></div>
      
      <h5 style="text-align:center"><ins>Dinner Menu</ins></h5>
      <div id="frst" class="col-md-3">
            <h6><b>Kadhi Pakoda</h6></b></div>
         <div id="sec" class="col-md-3">
            <h6><b>Salad</h6></b></div>
         <div id="thrd" class="col-md-3">
            <h6><b>Chatni</h6></b></div>
         <div id="thrd" class="col-md-33">
            <h6><b>Chapati</h6></b></div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}